@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario{
    display: flex;
    flex-direction: column;

    &__fieldset{
        border: none;
        margin-top: 1rem;
        padding: 0;
    }

    &__legend{
        color: v.$gris;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    &__campo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }

    &__contendeor-icono{
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }

    &__icono{
        background-color: v.$gris-oscuro;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        i{
            color: v.$blanco;
            font-size: 3rem;
        }
    }

    &__label{
        display: block;
        font-size: 1.8rem;
        color: rgba($color: v.$negro, $alpha: .8);
    }

    &__input,
    &__select{
        padding: 1rem;
        border: 1px solid darken($color: v.$gris-claro, $amount: 20);
        border-radius: .5rem;
        width: 100%;

        &--sociales{
            @extend .formulario__input;
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__radio{
        display: flex;
        gap: 4rem;
    }

    &__submit{
        @include m.boton(v.$azul,v.$blanco);
        width: auto;
        align-self: center;

        &--registrar{
            width: 100%;
            margin-top: 2rem;
        }

        &--full{
            width: 100%;
        }
        
    }

    &__listado{
        @include m.tags;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1.5rem;

        > li {
            background-color: v.$azul;
            color: v.$blanco;
            padding: 1rem;
            border-radius: .5rem;
            font-weight: v.$regular;

        }
    }

    &__imagen{
        max-width: 15rem;
    }

    &__texto{
        margin-top:3rem;
    }

    
}