@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabla{
    width: 100%;
    border-collapse: collapse;

    &__thead{
        background-color: v.$gris-oscuro;
        color: v.$blanco;
    }

    &__th{
        padding: 1rem;
        text-align: left;
    }

    &__tr{
        &:nth-child(even){
            background-color: v.$gris-claro;
        }
    }

    &__td{
        padding: 1.5rem 1rem;

        &--acciones{
            @extend .tabla__td;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 3rem;
        }
    }

    &__accion{
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: v.$bold;

        &--editar{
            color: v.$azul;
            i{
                font-size: 1.5rem;
            }
        }

        &--eliminar{
            color: v.$rojo;
            i{
                font-size: 1.5rem;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}